{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Login" />

<f:section name="loginFormFields">
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<f:if condition="{hasLoginError}">
					<f:then></f:then>
					<f:else>
						<f:if condition="{errors}">
							<f:then>
								<div class="alert alert-danger">
									<p><b><f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:error.title" /></b></p>
									<f:for each="{errors}" as="error">
										<p><f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:error.{error}" /></p>
									</f:for>
								</div>
							</f:then>
							<f:else>
								<div class="alert alert-info">
									<p><b><f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:title" /></b></p>
									<p>
										<f:if condition="{configuration.maximumValidDays} > 1">
											<f:then>
												<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:description.plural"
												             arguments="{0: configuration.maximumValidDays}" />
											</f:then>
											<f:else>
												<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:description"
												             arguments="{0: configuration.maximumValidDays}" />
											</f:else>
										</f:if>
									</p>
								</div>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</div>
	</div>
	<div class="form-group t3js-login-username-section" id="t3-login-username-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="text"
				       id="t3-username"
				       name="username"
				       value="{presetUsername}"
				       placeholder="{f:translate(key: 'login.username')}"
				       class="form-control input-login t3js-login-username-field"
				       autofocus="autofocus"
				       required="required"
				       {f:if(condition: presetUsername, then: 'readonly="readonly"')}/>
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group t3js-login-password-section" id="t3-login-password-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password"
				       id="t3-password"
				       name="p_field"
				       value="{presetPassword}"
				       placeholder="{f:translate(key: 'LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:password.current')}"
				       class="form-control input-login t3js-clearable t3js-login-password-field"
				       required="required"
				       data-rsa-encryption="t3-field-userident" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<f:if condition="{presetUsername}">
		<div class="form-group">
			<div class="form-control-wrap">
				<div class="form-control-holder">
					<input type="password"
					       id="validator-field"
					       name="tx_mebackendsecurity[password]"
					       required="required"
					       placeholder="{f:translate(key: 'LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:password.new')}"
					       class="form-control input-login t3js-clearable"
					       data-rsa-encryption="" />
					<div class="form-notice-capslock hidden t3js-login-alert-capslock">
						<img src="{images.capslock}"
						     width="14"
						     height="14"
						     alt="{f:translate(key: 'login.error.capslock')}"
						     title="{f:translate(key: 'login.error.capslock')}" />
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-control-wrap">
				<div class="form-control-holder">
					<div class="hidden" id="validator-view">
						<f:if condition="{configuration.passwordLength} > 0">
							<div class="rule"
							     data-validator-rule="passwordLength"
							     data-validator-rule-minimum="{configuration.passwordLength}">
								<core:icon identifier="overlay-missing" size="small" />
								<core:icon identifier="overlay-approved" size="small" />
								<f:if condition="{configuration.passwordLength} > 1">
									<f:then>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.passwordlength.plural"
										             arguments="{0: configuration.passwordLength}" />
									</f:then>
									<f:else>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.passwordlength"
										             arguments="{0: configuration.passwordLength}" />
									</f:else>
								</f:if>
							</div>
						</f:if>
						<f:if condition="{configuration.minimumSpecialCharacters} > 0">
							<div class="rule"
							     data-validator-rule="specialChar"
							     data-validator-rule-minimum="{configuration.minimumSpecialCharacters}">
								<core:icon identifier="overlay-missing" size="small" />
								<core:icon identifier="overlay-approved" size="small" />
								<f:if condition="{configuration.minimumSpecialCharacters} > 1">
									<f:then>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.specialchar.plural"
										             arguments="{0: configuration.minimumSpecialCharacters}" />
									</f:then>
									<f:else>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.specialchar"
										             arguments="{0: configuration.minimumSpecialCharacters}" />
									</f:else>
								</f:if>
							</div>
						</f:if>
						<f:if condition="{configuration.minimumDigits} > 0">
							<div class="rule"
							     data-validator-rule="digit"
							     data-validator-rule-minimum="{configuration.minimumDigits}">
								<core:icon identifier="overlay-missing" size="small" />
								<core:icon identifier="overlay-approved" size="small" />
								<f:if condition="{configuration.minimumDigits} > 1">
									<f:then>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.digit.plural"
										             arguments="{0: configuration.minimumDigits}" />
									</f:then>
									<f:else>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.digit"
										             arguments="{0: configuration.minimumDigits}" />
									</f:else>
								</f:if>
							</div>
						</f:if>
						<f:if condition="{configuration.minimumCapitalCharacters} > 0">
							<div class="rule"
							     data-validator-rule="capitalChar"
							     data-validator-rule-minimum="{configuration.minimumCapitalCharacters}">
								<core:icon identifier="overlay-missing" size="small" />
								<core:icon identifier="overlay-approved" size="small" />
								<f:if condition="{configuration.minimumCapitalCharacters} > 1">
									<f:then>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.capitalchar.plural"
										             arguments="{0: configuration.minimumCapitalCharacters}" />
									</f:then>
									<f:else>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.capitalchar"
										             arguments="{0: configuration.minimumCapitalCharacters}" />
									</f:else>
								</f:if>
							</div>
						</f:if>
						<f:if condition="{configuration.minimumLowercaseCharacters} > 0">
							<div class="rule"
							     data-validator-rule="lowercaseChar"
							     data-validator-rule-minimum="{configuration.minimumLowercaseCharacters}">
								<core:icon identifier="overlay-missing" size="small" />
								<core:icon identifier="overlay-approved" size="small" />
								<f:if condition="{configuration.minimumLowercaseCharacters} > 1">
									<f:then>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.lowercasechar.plural"
										             arguments="{0: configuration.minimumLowercaseCharacters}" />
									</f:then>
									<f:else>
										<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.lowercasechar"
										             arguments="{0: configuration.minimumLowercaseCharacters}" />
									</f:else>
								</f:if>
							</div>
						</f:if>
						<div class="rule" data-validator-rule="differentPasswords">
							<core:icon identifier="overlay-missing" size="small" />
							<core:icon identifier="overlay-approved" size="small" />
							<f:translate key="LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:rule.differentPasswords"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="form-control-wrap">
				<div class="form-control-holder">
					<input type="password"
					       name="tx_mebackendsecurity[password2]"
					       required="required"
					       placeholder="{f:translate(key: 'LLL:EXT:me_backend_security/Resources/Private/Language/locallang.xlf:password.confirmation')}"
					       class="form-control input-login t3js-clearable"
					       data-rsa-encryption="" />
					<div class="form-notice-capslock hidden t3js-login-alert-capslock">
						<img src="{images.capslock}"
						     width="14"
						     height="14"
						     alt="{f:translate(key: 'login.error.capslock')}"
						     title="{f:translate(key: 'login.error.capslock')}" />
					</div>
				</div>
			</div>
		</div>
	</f:if>
</f:section>
