{namespace core = TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Login" />

<f:section name="loginFormFields">
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<f:if condition="{hasLoginError}">
					<f:then></f:then>
					<f:else>
						<f:if condition="{errors}">
							<f:then>
								<div class="alert alert-danger">
									<strong>Passwort-Anforderungen nicht erfüllt</strong>
									<f:for each="{errors}" as="error">
										<p>Nicht genug {error}</p>
									</f:for>
								</div>
							</f:then>
							<f:else>
								<div class="alert alert-info">
									<strong>Account-Passwort abgelaufen.</strong>
									<p>Bitte ändern Sie Ihr Passwort, um sich erneut einloggen zu können.</p>
								</div>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</div>
	</div>
	<div class="form-group t3js-login-username-section" id="t3-login-username-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="text"
				       id="t3-username"
				       name="username"
				       value="{presetUsername}"
				       placeholder="{f:translate(key: 'login.username')}"
				       class="form-control input-login t3js-clearable t3js-login-username-field"
				       autofocus="autofocus"
				       required="required" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group t3js-login-password-section" id="t3-login-password-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password"
				       id="t3-password"
				       name="p_field"
				       value="{presetPassword}"
				       placeholder="{f:translate(key: 'login.password')}"
				       class="form-control input-login t3js-clearable t3js-login-password-field"
				       required="required"
				       data-rsa-encryption="t3-field-userident" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password"
				       id="validator-field"
				       name="tx_mebackendsecurity[password]"
				       required="required"
				       placeholder="{f:translate(key: 'login.password')}"
				       class="form-control input-login t3js-clearable"
				       data-rsa-encryption="" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<div class="hidden" id="validator-view">
					<f:if condition="{configuration.passwordLength} > 0">
						<div class="rule"
						     data-validator-rule="passwordLength"
						     data-validator-rule-minimum="{configuration.passwordLength}">
							<core:icon identifier="overlay-missing" size="small" />
							<core:icon identifier="overlay-approved" size="small" />
							Mindestens {configuration.passwordLength} Zeichen
						</div>
					</f:if>
					<f:if condition="{configuration.specialChar} > 0">
						<div class="rule"
						     data-validator-rule="specialChar"
						     data-validator-rule-minimum="{configuration.specialChar}">
							<core:icon identifier="overlay-missing" size="small" />
							<core:icon identifier="overlay-approved" size="small" />
							Mindestens {configuration.specialChar} Sonderzeichen
						</div>
					</f:if>
					<f:if condition="{configuration.digit} > 0">
						<div class="rule"
						     data-validator-rule="digit"
						     data-validator-rule-minimum="{configuration.digit}">
							<core:icon identifier="overlay-missing" size="small" />
							<core:icon identifier="overlay-approved" size="small" />
							Mindestens {configuration.digit} Zahlen
						</div>
					</f:if>
					<f:if condition="{configuration.capitalChar} > 0">
						<div class="rule"
						     data-validator-rule="capitalChar"
						     data-validator-rule-minimum="{configuration.capitalChar}">
							<core:icon identifier="overlay-missing" size="small" />
							<core:icon identifier="overlay-approved" size="small" />
							Mindestens {configuration.capitalChar} Großbuchstaben
						</div>
					</f:if>
					<f:if condition="{configuration.lowercaseChar} > 0">
						<div class="rule"
						     data-validator-rule="lowercaseChar"
						     data-validator-rule-minimum="{configuration.lowercaseChar}">
							<core:icon identifier="overlay-missing" size="small" />
							<core:icon identifier="overlay-approved" size="small" />
							Mindestens {configuration.lowercaseChar} Kleinbuchstaben
						</div>
					</f:if>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password"
				       name="tx_mebackendsecurity[password_confirmation]"
				       required="required"
				       placeholder="{f:translate(key: 'login.password')}"
				       class="form-control input-login t3js-clearable"
				       data-rsa-encryption="" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		var validator = {};

		validator.field = TYPO3.jQuery("#validator-field");
		validator.view = TYPO3.jQuery("#validator-view");
		validator.rules = validator.view.find(".rule");

		validator.reset = function() {
			validator.rules.each(function() {
				var icons = TYPO3.jQuery(this).find(".icon");

				icons.eq(0).show();
				icons.eq(1).hide();
			});
		};

		validator.validatePasswordLength = function() {
			var rule = validator.view.find(".rule[data-validator-rule='passwordLength']"),
				minimum = rule.attr("data-validator-rule-minimum");

			if (rule.length === 0) {
				return;
			}

			if(validator.field.val().length >= minimum) {
				rule.find(".icon").eq(0).hide();
				rule.find(".icon").eq(1).show();
			}
		};

		validator.validateSpecialChar = function() {
			var rule = validator.view.find(".rule[data-validator-rule='specialChar']"),
				minimum = rule.attr("data-validator-rule-minimum");

			if (rule.length === 0) {
				return;
			}

			matches = validator.field.val().match(/[!$%&\/=?,.]/g);

			if(matches !== null && matches.length >= minimum) {
				rule.find(".icon").eq(0).hide();
				rule.find(".icon").eq(1).show();
			}
		};

		validator.validateDigit = function() {
			var rule = validator.view.find(".rule[data-validator-rule='digit']"),
				minimum = rule.attr("data-validator-rule-minimum");

			if (rule.length === 0) {
				return;
			}

			matches = validator.field.val().match(/[0-9]/g);

			if(matches !== null && matches.length >= minimum) {
				rule.find(".icon").eq(0).hide();
				rule.find(".icon").eq(1).show();
			}
		};

		validator.validateCapitalChar = function() {
			var rule = validator.view.find(".rule[data-validator-rule='capitalChar']"),
				minimum = rule.attr("data-validator-rule-minimum");

			if (rule.length === 0) {
				return;
			}

			matches = validator.field.val().match(/[A-ZÄÖÜ]/g);

			if(matches !== null && matches.length >= minimum) {
				rule.find(".icon").eq(0).hide();
				rule.find(".icon").eq(1).show();
			}
		};

		validator.validateLowercaseChar = function() {
			var rule = validator.view.find(".rule[data-validator-rule='lowercaseChar']"),
				minimum = rule.attr("data-validator-rule-minimum");

			if (rule.length === 0) {
				return;
			}

			matches = validator.field.val().match(/[a-zäöü]/g);

			if(matches !== null && matches.length >= minimum) {
				rule.find(".icon").eq(0).hide();
				rule.find(".icon").eq(1).show();
			}
		};

		validator.init = function() {
			validator.reset();
			validator.view.hide();
			validator.view.removeClass("hidden");

			validator.field.on("focus", function() {
				validator.view.slideDown(500);
			});

			validator.field.on("blur", function() {
				validator.view.slideUp(500);
			});

			validator.field.on("keyup", function() {
				validator.reset();
				validator.validatePasswordLength();
				validator.validateSpecialChar();
				validator.validateDigit();
				validator.validateCapitalChar();
				validator.validateLowercaseChar();
			});
		};

		TYPO3.jQuery(document).ready(function() {
			validator.init();
		});
	</script>
</f:section>
