<f:layout name="Login" />

<f:section name="loginFormFields">
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<f:if condition="{error}">
					<f:then>
						<div class="alert alert-danger">
							<strong>Fehler</strong>
							<p>Fehlerbeschreibung</p>
						</div>
					</f:then>
					<f:else>
						<f:if condition="{hasLoginError}">
							<f:then></f:then>
							<f:else>
								<div class="alert alert-info">
									<strong>Account-Passwort abgelaufen.</strong>
									<p>Bitte ändern Sie Ihr Passwort, um sich erneut einloggen zu können.</p>
								</div>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</div>
		</div>
	</div>
	<div class="form-group t3js-login-username-section" id="t3-login-username-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="text"
				       id="t3-username"
				       name="username"
				       value="{presetUsername}"
				       placeholder="{f:translate(key: 'login.username')}"
				       class="form-control input-login t3js-clearable t3js-login-username-field"
				       autofocus="autofocus"
				       required="required" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group t3js-login-password-section" id="t3-login-password-section">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password"
				       id="t3-password"
				       name="p_field"
				       value="{presetPassword}"
				       placeholder="{f:translate(key: 'login.password')}"
				       class="form-control input-login t3js-clearable t3js-login-password-field"
				       required="required"
				       data-rsa-encryption="t3-field-userident" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password"
				       name="tx_mebackendsecurity[password_new]"
				       required="required"
				       placeholder="{f:translate(key: 'login.password')}"
				       class="form-control input-login t3js-clearable"
				       data-rsa-encryption="" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-control-wrap">
			<div class="form-control-holder">
				<input type="password"
				       name="tx_mebackendsecurity[password_confirmation]"
				       required="required"
				       placeholder="{f:translate(key: 'login.password')}"
				       class="form-control input-login t3js-clearable"
				       data-rsa-encryption="" />
				<div class="form-notice-capslock hidden t3js-login-alert-capslock">
					<img src="{images.capslock}"
					     width="14"
					     height="14"
					     alt="{f:translate(key: 'login.error.capslock')}"
					     title="{f:translate(key: 'login.error.capslock')}" />
				</div>
			</div>
		</div>
	</div>
</f:section>
